<h1>Wine</h1>
<p>Available as <%= formatted_time(@available_at) %></p>
<%= page_entries_info @wine %>
<ol>
<% @wine.each do |wine| %>
  <li>
  <%= link_to(wine.name, wine) %>
  by <%= wine.country %><br/>
  <%= format_average_rating(wine) %>
  <% if wine.reviews.any? %>
    (out of <%= pluralize(wine.reviews.size, 'review') %>)
  <% end %>
</li>
<% end %>
</ol>
<%= paginate @wine %>
