<%= form_for( [ @wine, @review ] ) do |f| %>
  <%= render 'shared/validation_errors', object: @review %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, placeholder: 'Name' %><br />
  <%= f.label :rating %>  
  <% Review::RATINGS.each do |ratings| %>
    <%= f.radio_button :rating, ratings %> <%= ratings %>
  <% end %><br />
  <%= f.label :comments %><br/>
  <%= f.text_area :comments %><br/>
  <p>
    <%= f.submit %>
    <%= link_to 'Cancel', wine_reviews_path(@wine), id: 'cancel_review' %>
  </p>
<% end %>